body {
  font-family: "century gothic", verdana;
}

.container {
  padding: 0;
}

.btn-link {
  cursor: pointer;
}

.ui.buttons {
  z-index: auto!important;
}

.ui.animated.button {
  z-index: 0!important;
}

.btn {
  margin: 10px 3px 10px 3px;
}

.table td{
  vertical-align: middle;
}

.modal > .ui.message {
  margin-top: 0;
}

i.large.bordered.icon {
  height: 1.2em!important;
  padding: 0.1em.2em!important;
  font-size: 2.5em!important;
}

.mainFontColor i,
i.mainIconColor {
  color: #1a3652;
}

/* Nav */
.ui.inverted.menu {
  background-color: #1a3652;
  border-radius: 0%;
}

.ui.massive.inverted.menu .item.header:first-child {
  padding: 5px 20px;
}

.ui.massive.inverted.menu .item:first-child > img {
  width: 55px!important;
}

.headroom--pinned {
  z-index: 10!important;
}
.headroom-wrapper { height: auto !important}

#dashboardActionBtn {
  padding: 9px 15px !important;
}

/* Auth */
.kep-login-facebook.small {
  border-radius: 4px;
  text-transform: none!important;
  width: 100%;
  padding: .78571429em 1.5em .78571429em!important;
}
.google-login-button {
  width: 100%;
  box-shadow: none!important;
  border-radius: 4px!important;
  border: calc(.06887vw + .67769px) solid #DB4437!important;
  padding: 0 auto!important;
  font-size: calc(.27548vw + 12.71074px)!important;
  color: white!important;
  background-color: #DB4437!important;
  display: block!important;
  padding: .78571429em 1.5em .78571429em!important;
}
.google-login-button div {
  margin: 0 .25rem 0 0!important;
  padding: 0!important;
}
.google-login-button span {
  font-weight: 700!important;
}

/* Common */
.auth {
  margin-top: 5em;
}

/* Home page */
.homeHeader {
  font-size: 4em !important;
	margin-bottom: 0 !important;
  margin-top: 0 !important;
}

.homeSubheader {
  font-size: 1.7em;
  font-weight: normal !important;
  margin-top: .5em !important;
  margin-bottom: 1.5em !important;
}

.sectionHeader {
  padding-top: 7em !important;
}
.sectionHeader h2 {
  padding-bottom: 1em;
}

/* footer */
#footer { 
  padding: 5em 0em;
  margin-top: 5em;
  background: #1a3652;
}

/* dashboard */ 
.dash-col {
  margin-bottom: 1em !important;
}

/* to vehicle history separte file */
.ui.feed > .event > .content {
  border-bottom: 1px solid #ddd;
  margin-bottom: 1em;
  padding-bottom: 1em;
}

.ui.feed > .event > .content .meta .dropdown {
  margin-left: 0.5em;
  float: right;
}

.ui.feed > .event > .content .meta {
  display: block;
}

/* vehicle histories */
.expirationLabel {
  margin-top: 0.5em!important;
}

/* Mobile devices */
@media only screen and (max-width: 767px) {
  .ui.grid>.stackable.stackable.row>.column, 
  .ui.stackable.grid>.column.grid>.column, 
  .ui.stackable.grid>.column.row>.column, 
  .ui.stackable.grid>.column:not(.row), 
  .ui.stackable.grid>.row>.column, 
  .ui.stackable.grid>.row>.wide.column, 
  .ui.stackable.grid>.wide.column {
    padding-left: 0!important;
    padding-right: 0!important;
  }
  .ui.grid .ui.stackable.grid {
    margin-left: 0rem!important;
    margin-right: 0rem!important;
  }

  [class*='auth']>.ui.stackable.grid>.column {
    padding-left: 15px!important;
    padding-right: 15px!important;
  }

  [class*='auth'] {
    margin-top: 3em;
  }

  /* nav */
  .ui.inverted.menu .item:first-child > img {
    width: 45px;
    margin-left: 10px;
    margin-right: 10px;
  }
  .ui .right.menu>.item:before {
    content: none !important;
  }
  .ui.inverted.menu > a.header.link.item {
    padding: 5px 15px;
  }
  .ui.inverted.menu > a > i {
    margin: 0 !important;
    font-size: 1.5rem;
  }

  /* Forms */
  .field-aligned {
    margin: 0 0 1em!important;
  }

  /* home page */
  .homeHeader { 
    font-size: 2.5em !important;
  }
  .homeSubheader {
    font-size: 1.5em !important;
  }
  .sectionHeader {
    padding-top: 4em !important;
  }

  /* footer */
  #footer {
    margin-top: 3em;
    padding: 3em 0em;
  }
  
}
/* End mobile section */