<tr style="border-collapse:collapse;"> 
    <td align="center"> 
        <a href="@Model.ActionButtonUrl" 
            target="_blank"
            style= 
                "mso-style-priority:100 !important;
                text-decoration:none !important;
                transition:all 100ms ease-in;
                -webkit-text-size-adjust:none;
                -ms-text-size-adjust:none;
                mso-line-height-rule:exactly;
                font-size:16px;
                color:#FFFFFF !important;
                border-radius:4px;
                display:inline-block;
                background-color:#2185d0;
                font-weight: bold;
                padding: 10px 15px;
                opacity: .9;
                margin-top: 20px;" >
            @Raw(Model.ActionButtonText)
        </a> 
    </td> 
</tr>