<tr style="border-collapse:collapse;"> 
    <td align="center" style="padding: 0 25px"> 
        <p style=
            "margin: 0!important;
            -webkit-text-size-adjust:none;
            -ms-text-size-adjust:none;
            mso-line-height-rule:exactly;
            font-size:18px;
            font-family:helvetica, 'helvetica neue', arial, verdana, sans-serif;
            line-height:23px;
            padding-top: 15px;">
            @Raw(Model.TextContent)
        </p> 
    </td> 
</tr> 
<tr style="border-collapse:collapse;"> 
    <td align="center" style="padding: 0 25px"> 
        <p style="padding: 10px 0 20px;">
            @Raw(Model.FooterMessage) 
        </p> 
    </td> 
</tr>