<tr style=
    "border-collapse:collapse;
    background-color: #2185d0;
    padding: 5px 0;"> 
    <td align="center"> 
        <h2 style=
            "font-size: 22px;
            Margin:0!important;
            padding-top: 20px;
            mso-line-height-rule:exactly;
            color:#FFFFFF;">
            @Model.ContactMessageCompliment
        </h2> 
    </td> 
</tr> 
<tr style=
    "border-collapse:collapse;
    background-color: #2185d0;
    padding: 5px 0;"> 
    <td align="center"> 
        <p style=
            "Margin:0!important;
            -webkit-text-size-adjust:none;
            -ms-text-size-adjust:none;
            mso-line-height-rule:exactly;
            font-style: italic;
            color:#AAD4EA;">
            @Model.ContactMessagePrefix
        </p>
    </td> 
</tr> 
<tr style=
    "border-collapse:collapse;
    background-color: #2185d0;
    padding: 5px 0;"> 
    <td align="center"> 
        <a 
            target="_blank"
            href="@($"{Model.SiteUrl}/feedback")" 
            style=
                "margin: 15px 0;
                display: inline-block;
                mso-style-priority:100 !important;
                text-decoration:none !important;
                transition:all 100ms ease-in;
                -webkit-text-size-adjust:none;
                -ms-text-size-adjust:none;
                mso-line-height-rule:exactly;
                padding: 10px 15px;
                font-size:14px;
                color:#26A4D3 !important;
                background-color:#FFFFFF;
                border-radius:4px;
                font-weight:bold;">
           @Model.ContactMessage
        </a> 
    </td> 
</tr>
<tr style="border-collapse:collapse;"> 
    <td align="center"> 
        <p style=
            "Margin:0;
            padding: 10px;
            -webkit-text-size-adjust:none;
            -ms-text-size-adjust:none;
            mso-line-height-rule:exactly;
            font-size:10px;
            font-style: italic;
            color:#9e9e9e;">
           @Model.PostScriptum
        </p> 
    </td> 
</tr>