<tr style="border-collapse:collapse;"> 
    <td style=
            "margin:0;
            padding-bottom:15px;
            padding-left:15px;
            padding-right:15px;" 
        align="center"> 
        <table 
            style=
                "mso-table-lspace:0pt;
                mso-table-rspace:0pt;
                border-collapse:collapse;
                border-spacing:0px;" 
            width="100%" 
            cellspacing="0" 
            cellpadding="0"> 
            @{ await IncludeAsync("./Partials/_Logo.cshtml", Model); }
            @{ await IncludeAsync("./Partials/_Title.cshtml", Model); } 
            @if(Model.ActionButtonText != null)
            {
                await IncludeAsync("./Partials/_ActionButton.cshtml", Model);
            }
        </table> 
    </td> 
</tr>