<tr style="border-collapse:collapse;"> 
    <td style=
            "padding:0;
            margin:0;
            padding-bottom:20px;" 
        align="center"> 
        <img 
            style=
                "display:block;
                border:0;
                margin-top: 30px;
                -ms-interpolation-mode:bicubic;"
            src="https://res.cloudinary.com/autohubapp/image/upload/v1561063464/ut5tjcuvpedn5zpa5myv.png" 
            alt="autohub-logo" 
            width="70"
        >
    </td> 
</tr>