<tr style="border-collapse:collapse;"> 
    <td align="center"> 
        <h1 style=
            "margin:0;
            line-height:36px;
            mso-line-height-rule:exactly;
            font-family:lato, 'helvetica neue', helvetica, arial, sans-serif;
            font-size:30px;
            font-style:normal;
            font-weight:bold;
            color:#FFFFFF;">
            @Model.EmailTitle
        </h1> 
    </td> 
</tr> 