<!DOCTYPE html>
<html lang="en">

<head>
  <title>AutoHub - Your vehicle history book</title>

  <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <meta name="title" content="AutoHub - Your vehicle history book">
  <meta name="description" content="Manage your vehicle history. Reminders, business fleets, statistics, fuelings, repairs, taxes.">

  <meta property="og:type" content="website">
  <meta property="og:url" content="https://autohub.bg/">
  <meta property="og:title" content="AutoHub - Your vehicle history book">
  <meta property="og:description" content="Manage your vehicle history. Reminders, business fleets, statistics, fuelings, repairs, taxes.">
  <meta property="og:image" content="">

  <meta property="twitter:card" content="summary_large_image">
  <meta property="twitter:url" content="https://autohub.bg/">
  <meta property="twitter:title" content="AutoHub - Your vehicle history book">
  <meta property="twitter:description" content="Manage your vehicle history. Reminders, business fleets, statistics, fuelings, repairs, taxes.">
  <meta property="twitter:image" content="">

  <link rel="icon" type="image/png" href="/favicon.ico">
</head>

<body>
  <div id='app'></div>

  <%if (htmlWebpackPlugin.options.useCdn) { %>
    <script crossorigin src="https://unpkg.com/react@16/umd/react.production.min.js"></script>
    <script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.production.min.js"></script>
  <% } %>

  <!-- Scripts will be injected here -->
</body>

</html>
