@model api.Domain.Models.EmailModel
 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html style="width:100%;font-family:helvetica, 'helvetica neue', arial, verdana, sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;padding:0;Margin:0;">
    <head> 
        <meta charset="UTF-8"> 
        <meta content="width=device-width, initial-scale=1" name="viewport"> 
        <meta name="x-apple-disable-message-reformatting"> 
        <meta http-equiv="X-UA-Compatible" content="IE=edge"> 
        <meta content="telephone=no" name="format-detection"> 
        <title></title> 
        <!--[if (mso 16)]>
            <style type="text/css">
            a {text-decoration: none;}
            </style>
            <![endif]--> 
        <!--[if gte mso 9]><style>sup { font-size: 100% !important; }</style><![endif]--> 
        <!--[if !mso]><!-- --> 
        <link href="https://fonts.googleapis.com/css?family=Lato:400,400i,700,700i" rel="stylesheet"> 
        <!--<![endif]--> 
        <style type="text/css" media="screen and (max-width:600px)">
            p, ul li, ol li, a {
                font-size:17px!important; 
                line-height:150%!important 
            } 
            h1 { 
                font-size:30px!important; 
                text-align:center; 
                line-height:120%!important 
            } 
            h2 { 
                font-size:26px!important; 
                line-height:120%!important 
            } 
            h3 { 
                font-size:20px!important; 
                line-height:120%!important 
            } 
            h1 a { 
                font-size:30px!important; 
            } 
            h2 a { 
                font-size:20px!important; 
            } 
            h3 a { 
                font-size:20px!important; 
            } 
        </style>
        <style type="text/css">
            a[x-apple-data-detectors] {
                color:inherit!important;
                text-decoration:none!important;
                font-size:inherit!important;
                font-family:inherit!important;
                font-weight:inherit!important;
                line-height:inherit!important;
            }
            a {
                color: white;
            }
        </style> 
    </head> 
    <body> 
        <div style=
            "background-color: #1b2a31;
            max-width: 550px;
            margin: 0 auto;"> 
            <!--[if gte mso 9]>
			    <v:background xmlns:v="urn:schemas-microsoft-com:vml" fill="t">
				    <v:fill type="tile" color="#f1f1f1"></v:fill>
			    </v:background>
		    <![endif]--> 
            <!--[if mso]><table width="580" cellpadding="0" cellspacing="0"><tr><td width="282" valign="top"><![endif]--> 
            <table style=
                    "background-color: #1b2a31; 
                    color: #FFFFFF" 
                align="center" 
                cellspacing="0" 
                cellpadding="0"> 
                @{ await IncludeAsync("./Partials/_Header.cshtml", Model); }
                @{ await IncludeAsync("./Partials/_Content.cshtml", Model); }
                @{ await IncludeAsync("./Partials/_Footer.cshtml", Model); }
            </table> 
            <!--[if mso]></td></tr></table><![endif]--> 
        </div>  
    </body>
</html>